* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/fondo-negro.jpg);
  background-size: cover;
  display: grid;
  height: 100vh;
  grid-template-rows: 0.5fr 2fr 0.3fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

header {
  background-color: black;
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  background-color: black;
  grid-area: footer;
}
